html {
    
    background-image: url('./Fondo-pagina.jpg');
    background-size: 100%;
    
}

body {
    display: flex;
    align-items: center;
}

<style>

h1 {
    color: green;
    
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: crimson;
    padding: 50px;
    border-color: darkgoldenrod;
    border-width: 10px;
    border-style: double;
    margin: 0% auto;
}
#spanId {
    font-size: 18px;
    margin: 50px;
    display: block;
}

</style>